.card-title {
  color: var(--light);
  text-align: center;
  margin-bottom: var(--space-lg);
  font-size: 28px;
}

.auth-card {
  background-color: var(--сard-bg);
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--shadow-lg);
}

.profile-card {
  background-color: var(--сard-bg);
  border-radius: 15px;
  margin: 120px auto 30px;
  max-width: 950px;
  padding: 30px;
  box-shadow: var(--shadow-lg);
}

@media (max-width: 768px) {
  .card-title {
    font-size: 20px;
    margin-bottom: var(--space-md);
  }

  .auth-card {
    width: 300px;
    padding: 30px;
    border-radius: 8px;
  }

  .profile-card {
    margin: 60px auto 20px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
  }
}
